html {
  background-color: #fefefa;
  font-family: 'EB Garamond', serif;
}

#grid-container {
  display: grid;
  grid-template-areas:
  "main main main sidebar"
  "footer footer footer footer";
  grid-auto-rows: minmax(100px, auto);
  /* grid-gap: 1em; */
}

#content {
  grid-area: main;
  padding: 1em;
  width: 72vw;
}

#sidebar {
  grid-area: sidebar;
  padding: 1em;
  min-width: 20vw;
  overflow-x: hidden;
  /* -webkit-box-shadow: -34px -2px 96px -38px rgba(0,0,0,0.15);
  -moz-box-shadow: -34px -2px 96px -38px rgba(0,0,0,0.15);
  box-shadow: -34px -2px 96px -38px rgba(0,0,0,0.15); */
  background-color: #f4f0ec !important;
}

#footer {
  grid-area: footer;
  min-height: 300px;
  background-color: #E9D8DD;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6  {
    /* font-family: 'Kelly Slab', cursive !important; */
    font-family: 'forum' !important;
    color: #bfafb2 !important;
}

h1#logo { font-size: 3.65rem;
  color: #F2CFD5 !important;

  /* border-bottom: 5px solid #bfafb2; */
  text-decoration: underline;
  text-decoration-color: #bfafb2;
  text-decoration-style: double;
  text-underline-position: under;
  line-height: 125%;
   /* solid 3px ; */
}

a {
    text-decoration: none;
    color: #3b3c36;
}

li {
    /* margin-top: 1rem; */
    margin-bottom: 0 !important;
}
nav ul {
    margin-left: 0;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-weight: bold;
    display: flex;
    /* justify-content: space-around; */
}
nav li, nav li a {
    text-decoration: none;
    list-style-image: none;
    list-style: none;
    color:  #3b3c36;
    font-weight: bold;
}

nav li a:hover {
    color: #E9D8DD;
    background-color: #bfafb2;
}

li.current a{
    color: #bfafb2;
}

.header-image {
    position: absolute !important;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
    /* z-index: -100; */
    /* top: 30px; */
    display: inline-block;
    width: 300px;
    height: 300px;
}
