html {
  background-color: #fefefa;
/*  font-family: 'EB Garamond', serif;*/
}

body { 
   font-family: "Space Mono" !important;
     }

@media only screen and (min-width: 768px) {
    #grid-container {
        min-height: 100vh;
        margin: 2em 0 0 0;
        display: grid;
        grid-template-areas:
            "header header header header"
            "gap gap gap gap"
            "left main sidebar right"
            "footer footer footer footer";
        grid-auto-rows: minmax(100px, auto);
        grid-auto-columns: 10vw 55vw 25vw 10vw;
        /* grid-gap: 1em; */
    }
}

@media only screen and (max-width: 768px) {
  #grid-container {
        margin: 2em 0 0 0;
        display: grid;
        grid-template-areas:
            "header header header"
            "left main right"
            "left sidebar right"
            "footer footer footer";
        grid-auto-rows: minmax(100px, auto);
        grid-auto-columns: 5vw 90vw 5vw;
        /* grid-gap: 1em; */
    }
}


#content {
  grid-area: main;
  grid-column: main-start;
  padding: 0 1em 0 0;
}

#sidebar {
  grid-area: sidebar;
  padding: 1em;
  overflow-x: hidden;
  height: 50vh;
  /* -webkit-box-shadow: -34px -2px 96px -38px rgba(0,0,0,0.15);
  -moz-box-shadow: -34px -2px 96px -38px rgba(0,0,0,0.15);
  box-shadow: -34px -2px 96px -38px rgba(0,0,0,0.15); */
}

@media only screen and (min-width: 768px) {
    #sidebar.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: 40px;
      font-size: 25px;
    }
}

#footer {
  grid-area: footer;
  min-height: 300px;
  background-color: hsl(188, 16%, 80%);
}


/* footer */
#outer { 

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 2em 7em 2em 7em;

}

#inner {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 350px;
    width: 75vw;

}

footer section.links {
    max-width: 18vw;
}

section#made-by { 
    padding: 1em 7em 1em 7em;
    background: #65C1CD !important; 
}

@media only screen and (max-width: 768px) {
    #outer {
        height: 100%;
        flex: 1;
        flex-direction: column;
        padding: 2em;
    }

    #inner {
        columns: 2;
/*        max-width: 45%;*/
        column-gap: 10px;
        max-height: 600px;

    }

    footer section.links {
    max-width: 46%;
}


section#made-by { 
    padding: 1em 2em 1em 2em;
    background: #65C1CD !important; 
}
}



footer h5 {
    color: white !important;
    font-size: 1.4em;
    font-family: 'IM FELL GREAT PRIMER';
    font-weight: 600;
}

footer li { 
    list-style: none;
}

footer ul {
    margin: 0 0 1em 0;
}



/*Typography*/

h1, h2, h3, h4, h5, h6  {
    /* font-family: 'Kelly Slab', cursive !important; */
    font-family: 'forum' !important;
    color: #bfafb2 !important;
    text-transform: capitalize;
}

h2.front-page {
    color: #41b3c2 !important;
    font-weight: 600;
}

/* Logo Design */
#logo { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

 h1#title {
        line-height: 90%;
        line-height: 90%;
        display: flex;
        flex-direction: column;
        flex-direction: column;
         display: flex;
        font-family: "IM Fell Great Primer", serif !important;
        font-weight: 400;
        color: #41b3c2 !important;
    }

@media only screen and (min-width: 768px) {

    header.front { padding: 5vh 0 60vh; }
    header.list { padding: 5vh 0 5vh; }
    header.single { padding: 5vh 0 5vh; }
    h1#title { font-size: 7.65rem; }
    h1#title.list { font-size: 7.65rem; }
    h1#title.single { font-size: 3.65rem; }
}

@media only screen and (max-width: 768px) {

    header.front { padding: 5vh 0 65vh; }
    header.list { padding: 5vh 0 5vh; }
    header.single { padding: 5vh 0 5vh; }
    h1#title { font-size: 4.65rem; }
    h1#title.single { font-size: 3.65rem; }
    h1#title.list { font-size: 3.65rem; }
}


/* Navigation */
span.end {
    display: flex;
    align-self: end;
}

span.start {
    display: flex;
    align-self: start;
}

.a-adjust { 
    transform: scale(1,0.95) skew(5deg) translate(0px, -5px);
}

/* Sidebar Logo Tweaks */
#nav-logo {
    color: #41b3c2 !important;
    display: flex;
    flex-direction: column;
}

#nav-logo .a-adjust { 
    transform: scale(1,0.95) skew(3deg) translate(0px, -2px); 
}

/* Link Styling */
a {
    text-decoration: none;
    color: #41b3c2;
    font-weight: 600;
}

p > a { border-bottom: 1px #41b3c2 dashed; }

.underline-override { border-bottom: none; }
footer * a { color: #3b3c36 } 
footer * a:hover {}

a:hover {
/*    color: #41b3c2;*/
    color: #3b3c36;
}

p > a:hover { border-bottom: 1px #3b3c36 dashed; }


li {
    /* margin-top: 1rem; */
    margin-bottom: 0 !important;
}
nav ul {
    margin-left: 0;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-weight: bold;
    display: flex;
    /* justify-content: space-around; */
}
nav li, nav li a {
    text-decoration: none;
    list-style-image: none;
    list-style: none;
    color:  #3b3c36;
    font-weight: bold;
}

nav li a:hover {
    color: #41b3c2;
}

li.current a{
    color: #bfafb2;
}

.header-image {
    position: absolute !important;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
    /* z-index: -100; */
    /* top: 30px; */
    display: inline-block;
    width: 300px;
    height: 300px;
}

.excerpt-image {
    margin-bottom: 1em;
}
/* Double-color dashed line */

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

#snippet {
    font-style: italic;
    margin-bottom: 2em;
}

#snippet::before {
  content: "\"...";
}
#snippet::after {
  content: "...\"";
}